@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Geist, "Segoe UI", Inter, "Open Sans", Arial, sans-serif;
    background-color: black;
    color: white;
}

main {
    padding: 2em;
}